.project-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
}
.project-detail .ant-form-item-control-wrapper {
  width: 100%;
}

.project-detail .invest-action {
  margin-top: 30px;
}